@model EquineTracker.Models.Horse

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Horse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HorseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
